
	.modal.fade .modal-dialog {
		width: 960px;
		max-width: 100%;
		height: 80%;
		padding: 0;
		box-shadow: 0 0 60px rgba(0,0,0,0.2);
	}

	.modal-content {
	    border: 0px;
			height: 100%;
	}

	.modal-content h2,
	.modal-content h3,
	.modal-content h4,
	.modal-content h5,
	.modal-content p {
		margin: 0; padding: 0;
	}

	.modal-header {
		border: 0px;
		display: block;
		padding: 4px 12px;
		background-color: #fffdfa;
		border-bottom: 2px solid #cccccc;
	}

	.modal-header .unit-icon {
		width: 48px;
		margin: 0; padding: 0;
		display: inline-block;
	}

	.modal-header .unit-icon img {
		width: 100%;
	}

	.modal-header .type {
		display: inline-block;
		margin: 8px 8px 0 0;
		font-size: 12px;
		font-weight: bold;
		border-radius: 24px;
		padding: 2px 12px;
		color: #ffffff;
	}

	.modal-header .type[type="Technique" i] {
		background-color: #1a72bd;
	}
	.modal-header .type[type="Heart" i] {
		background-color: #bd951a;
	}
	.modal-header .type[type="Body" i]  {
		background-color: #bd1a1a;
	}
	.modal-header .type[type="Courage" i] {
		color: #323232;
		background-color: #efefef;
	}
	.modal-header .type[type="Intellect" i] {
		background-color: #323232;
	}

	.modal-header h3 {
		font-size: 14px;
		font-weight: 700;
		color: #3e2519;
		display: inline-block;
		margin: 0; padding: 0;
	}

	.modal-header .close {
		outline: none;
		margin: 12px 2px 0 0px;
	}

	.modal-body {
		background-color: #fffaef;
	    padding: 24px 12px 48px 12px;
			overflow-y: scroll;
			overflow-x: hidden;
			height:100%;
	}

	.content-rarity {
		width: 100%; height: 360px;
		position: relative;
	}

	.content-rarity #pve,
	.content-rarity #pvp {
		width: 100%;
		position: absolute;
		top: 0; left: 0;
		opacity: 0;
		pointer-events: none;
		transition: all .4s ease;
	}

	.content-rarity #pve.active,
	.content-rarity #pvp.active {
		opacity: 1;
		pointer-events: all;
	}

	.modal-body .base-unit-view {
		position: relative;
	}

	.modal-body .base-unit-view .base-toggle {
		cursor: pointer;
		position: absolute;
		top: 24px; left: -16px;
		margin: 0; padding: 0;
		z-index: 2;
	}

	.modal-body .base-unit-view .base-toggle a.toggle-rarity {
		display: block;
		padding: 0 0 0 0;
		text-align: center;
		opacity: 1;
		width: 54px; height: 46px;
		background-image: url(../img/trigger.png);
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.modal-body .base-unit-view .base-toggle a.toggle-rarity.toggle-pvp {
		background-image: url(../img/trigger-two.png);
	}

	.modal-body .base-unit-view .img-unit {
		display:block;
		height:280px;
		text-align: center;
		width: auto;
	}

	.modal-body .base-unit-view .img-unit img {
		height: 100%;
	}

	#pvp-label {
		background-image: url(../img/pvp.png);
		height: 40px;
		width: 71px;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}

	#status-pvp {
		opacity: 0;
	}

	.modal-body .base-unit-view .base-tables ul.nav {
		display: flex;
		justify-content: space-around;
	}

	.modal-body .base-unit-view .base-tables ul.nav li {
		flex: 1;
		text-align: center;
		display: inline-block;
	}

	.modal-body .base-unit-view .base-tables ul.nav li a,
	.modal-body .base-unit-view .base-tables ul.nav li a:focus {
		color: #ffffff;
		display: block;
		font-size: 14px;
		border: 1px solid #885234;
		outline: 1px solid #643623;
		background-image: linear-gradient(to bottom, #351d0a, #845935);
	}

	.modal-body .base-unit-view .base-tables ul.nav li.active a,
	.modal-body .base-unit-view .base-tables ul.nav li.active a:focus {
		color: #432b1e;
		font-weight: bold;
		outline: none;
		border: 1px solid #fffefd;
		border-bottom: 1px solid #9e9695;
		outline: 1px solid #8e8b8c;
		background-image: linear-gradient(to bottom, #fffefb, #eee6e2);
	}

	.modal-body .base-unit-view .base-tables .ult {
		display: none;
	}

	.modal-body .base-unit-view .base-tables .jutsu,
	.modal-body .base-unit-view .base-tables .ult {
		margin: 0 0 12px 0;
		border: 1px solid #847d58;
		outline: 2px solid #c5b080;
		box-shadow: 0 0 0 1px #847d58;
		background: linear-gradient(to bottom, #ffffff, #ffffe6);
	}

	.modal-body .base-unit-view .base-tables .jutsu .header,
	.modal-body .base-unit-view .base-tables .ult .header {
		display: flex;
		align-items: center;
		padding: 4px 12px;
		border-bottom: 2px solid #272204;
		background-image: linear-gradient(to bottom, #fffefb, #eee6e2);
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .type h4,
	.modal-body .base-unit-view .base-tables .ult .header .type h4 {
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		border-radius: 24px;
		margin: 0; padding: 6px 8px;
		background-color: #323232;
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .title,
	.modal-body .base-unit-view .base-tables .ult .header .title {
		flex: 3;
		margin: 0 0 0 12px;
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .title h3,
	.modal-body .base-unit-view .base-tables .ult .header .title h3 {
		font-size: 14px;
		font-weight: 700;
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .title p,
	.modal-body .base-unit-view .base-tables .ult .header .title p {
		font-size: 10px;
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .speed
	.modal-body .base-unit-view .base-tables .ult .header .speed {
		flex: 1;
		font-size: 12px;
		font-weight: 400;
		text-align: right;
		margin: 0 12px 0 0;
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .chakra,
	.modal-body .base-unit-view .base-tables .ult .header .chakra {
		color: #56cde7;
		font-size: 12px;
		font-weight: bold;
		border-radius: 50%;
		text-align: center;
		position: relative;
		padding: 12px 0 0 0;
		background-color: #170f07;
		width: 36px; height: 36px;
		border: 2px solid #cfb96f;
		box-shadow: 0 0 0 1px 2px #826837;
	}

	.modal-body .base-unit-view .base-tables .jutsu .header .chakra:before,
	.modal-body .base-unit-view .base-tables .ult .header .chakra:before {
		content: "";
		position: absolute;
		top: 3px; left: 11px;
		border-radius: 50%;
		width: 10px; height: 10px;
		background: radial-gradient(#85ffff, #0dc4f6);
		box-shadow: 0 0 8px 2px rgba(0,204,255,0.8);
	}

	.modal-body .base-unit-view .base-tables .jutsu .description,
	.modal-body .base-unit-view .base-tables .ult .description {
		padding: 4px 12px;
	}

	.modal-body .base-unit-view .base-tables .jutsu .description p,
	.modal-body .base-unit-view .base-tables .ult .description p {
		font-size: 12px;
	}

	.modal-body .base-unit-view .base-tables .base-ability {
		margin: 0 0 12px 0;
		border: 1px solid #847d58;
		outline: 2px solid #c5b080;
		box-shadow: 0 0 0 1px #847d58;
		background: linear-gradient(to bottom, #ffffff, #ffffe6);
	}

	.modal-body .base-unit-view .base-tables .base-ability .header {
		display: flex;
		align-items: center;
		padding: 0;
		border-bottom: 1px solid #272204;
		background-image: linear-gradient(to bottom, #ffd804, #fff601);
	}

	.modal-body .base-unit-view .base-tables .base-ability .header.leader {
		background-image: linear-gradient(to bottom, #ffc100, #e36700);
	}

	.modal-body .base-unit-view .base-tables .base-ability .header .type h4 {
		position: relative;
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		margin: 0; padding: 6px 8px;
		background-color: #323232;
	}

	.modal-body .base-unit-view .base-tables .base-ability .header .type h4:after {
		content: "";
	    position: absolute;
	    right: -12px; top: 0;
	    width: 0; height: 0;
	    border-top: 13px solid transparent;
	    border-left: 12px solid #323232;
	    border-bottom: 13px solid transparent;
	}

	.modal-body .base-unit-view .base-tables .base-ability .header .title {
		flex: 3;
		margin: 0 0 0 18px;
	}

	.modal-body .base-unit-view .base-tables .base-ability .header .title h3 {
		font-size: 14px;
		font-weight: 700;
		color: #ffffff;
		text-shadow: 0 0 4px #000000;
	}

	.modal-body .base-unit-view .base-tables .base-ability .description {
		padding: 4px 12px;
	}

	.modal-body .base-unit-view .base-tables .base-ability .description p {
		font-size: 12px;
	}

	.modal-body .base-unit-view .base-tables table {
		font-size: 12px;
	}

	.modal-body .base-unit-view .base-tables table tbody {
		background-color: #ffffff
	}

	.modal-body .base-unit-view .base-tables table thead {
		background-color: #cdcdcd;
	}

	.modal-body .base-unit-view .base-tables table thead tr th,
	.modal-body .base-unit-view .base-tables table tbody tr td {
		border: none;
		padding: 8px;
		border: 1px solid #cccccc;
	}

	.modal-body .base-unit-view .base-tables table tbody tr td:first-child {
		font-weight: normal;
	}

	.modal-body .base-unit-view .base-tables .abilities,
	.modal-body .base-unit-view .base-tables .pvp-abilities {
		display: flex;
		margin: 0 0 10px 0;
		border: 1px solid #847d58;
		outline: 2px solid #c5b080;
		box-shadow: 0 0 0 1px #847d58;
		background: linear-gradient(to bottom, #ffffff, #ffffe6);
	}

	.modal-body .base-unit-view .base-tables .abilities:last-child,
	.modal-body .base-unit-view .base-tables .pvp-abilities:last-child {
		margin: 0;
	}

	.modal-body .base-unit-view .base-tables .abilities .icon,
	.modal-body .base-unit-view .base-tables .pvp-abilities .icon {
		flex: 1;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border: 1px solid #847d58;
		outline: 2px solid #c5b080;
		box-shadow: 0 0 0 1px #847d58;
	}

	.modal-body .base-unit-view .base-tables .abilities .info,
	.modal-body .base-unit-view .base-tables .pvp-abilities .info {
		flex: 8;
	}

	.modal-body .base-unit-view .base-tables .abilities .info .header,
	.modal-body .base-unit-view .base-tables .pvp-abilities .info .header {
		flex: 3;
		display: flex;
		align-items: center;
		border-radius: 8px 0 0 8px;
		background-color: #3c2401;
	}

	.modal-body .base-unit-view .base-tables .abilities .info .header .title h3,
	.modal-body .base-unit-view .base-tables .pvp-abilities .info .header .title h3 {
		font-size: 12px;
		color: #ffffff;
		margin: 0; padding: 6px 0;
	}

	.modal-body .base-unit-view .base-tables .abilities .info .description p,
	.modal-body .base-unit-view .base-tables .pvp-abilities .info .description p {
		display: block;
		font-size: 12px;
		padding: 6px 12px 6px 6px;
	}
